sailfish/build/CMakeCache.txt sailfish/build/cmake_install.cmake sailfish/build/CPackConfig.cmake sailfish/build/CPackSourceConfig.cmake sailfish/build/CTestTestfile.cmake
sailfish/external/jellyfish-2.2.3 sailfish/external/sparsehash-sparsehash-2.0.2
sailfish/external/**
